.body_main {
  margin: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Header part */

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2% 0 1% 0;
  font-size: 15px;
  background-color: white;
  position: fixed;
  border-bottom: 1px solid;
}
.header nav {
  margin: 0;
}
.navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}
.navbar li {
  list-style: none;
  padding: 0 10px 0px 10px;
  text-align: center;
}
.get {
  color: white;
  background-color: #000;
  border-radius: 100vh;
  padding: 10px 15px 10px 15px;
  border: 1px solid #000;
}

.navbar {
  margin: 3%;
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: black;
}
.icon-mediu {
  width: 30px;
  height: 30px;
}
.medium {
  font-size: 25px;
  display: inline-block;
  padding-left: 60px;
  align-items: center;
}

/* body1 */

.body1_part1 {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 80px;
  padding-left: 35px;
  padding-right: 35px;
}

.body1_part1_p {
  font-size: 6.5vw;
  font-weight: normal;
  margin: 0;
}

.body1_part1_p_span {
  font-weight: bold;
}

/* body2 */

.body2_main {
  display: flex;
  margin: 0px;
  border-top: 1px solid;
}
.body2_part1 {
  width: 50%;
  border-right: 1px solid;
  padding-top: 30px;
  padding-bottom: 30px;
}

.body2_part1_p {
  padding-left: 100px;
  padding-right: 100px;
  font-size: 18px;
  overflow-wrap: normal;
}

.body2_part2 {
  width: 50%;
  display: flex;
  justify-content: center;
}
.body2_part2_image {
  padding: 60px;
}

/* body3 */

.body3_main {
  background-color: #ffd1b9;
  border-top: 1px solid;
  margin: 0px;
}

.body3_part1 {
  justify-content: center;
}

.body3_part1_p1 {
  font-size: 7.3vw;
  text-align: center;
  margin: 0px;
}

.body3_part1_p1_1::after {
  content: "\A";
  white-space: pre;
}

.body3_part1_2 {
  text-align: center;
  width: 68ch;
  margin-bottom: 60px;
}

.body3_part1_p2 {
  margin: 0px;
  font-size: 18px;
}

.body3_sub {
  padding-top: 20px;
  padding-bottom: 60px;
}

/* body3 part1 */

.body3_part1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* body3 part2 */

.body3_part2 {
  display: flex;
  justify-content: space-evenly;
  font-size: 2em;
}

.body3_part2_1 {
  width: 31.5%;
}
.body3_part2_2 {
  width: 31.5%;
}
.body3_part2_3 {
  width: 31.5%;
}

/* body3 part2 each profiles */

.body3_profile_1 {
  display: flex;
  align-items: center;
  width: 100%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  height: 80px;
}

.body3_profile_2 {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid;
  height: 80px;
}
.body3_image {
  margin-right: 5px;
}

.body3_name {
  margin-left: 5px;
}

/* body4 part1 */

.body4_part1 {
  background-color: black;
  color: white;
  display: flex;
  height: auto;
}

.body4_part1_left {
  width: 50%;
  border-color: white;
  border-right: 1px solid;
  font-size: 7.3vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.body4_part1_p1 {
  margin: 0px;
  padding: 0px;
}

.body4_part1_right {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
  font-size: 22px;
}

.body4_right_image {
  padding-bottom: 5%;
  width: auto;
  height: auto;
}

.body4_right_1 {
  width: 70%;
  height: auto;
}

.body4_right_2 {
  height: 50%;
  width: 70%;
  margin-top: 30px;
}

/* body4 part2 */

.body4_part2 {
  background-color: black;
  color: white;
  border-top: 1px solid;
  border-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.body4_p1 {
  font-size: 7.3vw;
  margin: 0px;
}

.body4_part2_2 {
  width: 66ch;
}

.body4_part2_3 {
  margin-top: 3%;
  margin-bottom: 3%;
}

.body4_button {
  border-style: solid;
  border-width: 1px;
  border-color: #34a245;
  border-radius: 20px;
  background-color: black;
  font-size: 22px;
  color: #34a245;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

/* body5 part1 */

.body5_part1 {
  background-color: #34a245;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.body5_p1 {
  font-size: 7.3vw;
  margin: 0px;
}

.body5_p1_1::after {
  content: "\A";
  white-space: pre;
}

.body5_part1_2 {
  width: 66ch;
}

.body5_part1_3 {
  margin-top: 3%;
  margin-bottom: 3%;
}

.body5_button {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 20px;
  background-color: #34a245;
  font-size: 22px;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

/* body5 part2 */
.body5_part2 {
  background-color: #34a245;
  display: flex;
  border-top: 1px solid;
}

.body5_part2_left {
  width: 50%;
  border-right: 1px solid;
  padding-left: 30px;
}

.body5_part2_left_1 {
  font-size: 3.5vw;
}
.body5_part2_left_2 {
}
.body5_part2_left_3 {
}

.body5_part2_right {
  width: 50%;
}

/* body6 main */
.body6_main {
  background-color: #b6e5a4;
  display: flex;
  border-top: 1px solid;
}

.body6_left {
  width: 50%;
}

.body6_part1_1 {
  font-size: 7.3vw;
}

.body6_part1_2 {
  font-size: 18px;
}

.body6_right {
  width: 50%;
  display: flex;
  justify-content: center;
}

.body6_right_1 {
  height: 100%;
}

.body6_right_image {
  width: 100%;
  height: auto;
  bottom: 0;
}

/* body7 part1 */

.body7_main {
  display: flex;
}
.body7_left {
  border-top: 1px solid;
  border-right: 1px solid;
  width: 50%;
}

.body7_left_1 {
  margin-left: 20px;
  margin-right: 20px;
}

.body7_left_p {
  font-size: 7.3vw;
}

.body7_right {
  border-top: 1px solid;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.body7_right_upper {
  height: 50%;
  border-bottom: 1px solid;
}

.body7_right_p_1 {
  font-size: 3.7vw;
}

.body7_button {
  border-style: solid;
  border-width: 1px;
  border-color: #34a245;
  border-radius: 20px;
  background-color: white;
  font-size: 22px;
  color: #34a245;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

/* body8 main */

.body8_main {
  display: flex;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.body8_left {
  border-right: 1px solid;
  width: 50%;
  display: flex;
  justify-content: center;
}

.body8_left_image {
  width: 400px;
  height: 400px;
}

.body8_right {
  width: 50%;
}

.body8_right_1 {
  font-size: 7.3vw;
}

.body8_right_p {
  margin: 0px;
}

.body8_button {
  border-style: solid;
  border-width: 1px;
  border-color: #34a245;
  border-radius: 20px;
  background-color: #34a245;
  font-size: 22px;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

/* footer part */
.footer_main {
  text-align: center;
}
.footer_part1 {
}
.footer_part2 {
  display: flex;
  justify-content: center;
}

.footer_p1 {
  padding-left: 20px;
  padding-right: 20px;
}
