:root{
    --background-color: #fafafa;
    --lp-background-color: #f1ae03;
    --bold-letter: #191919;
    --sideBar-name: #292929;
    --button-hovered: #868484;
    --button: #737171;
    --readingList: #757575;
}
