:root{
    --background-color: #fff;
    --lp-background-color: #f1ae03;
    --bold-letter: #191919;
    --sideBar-name: #292929;
    --button-hovered: #868484;
    --button: #737171;
    --border: #E6E6E6;
    --readingListCircle: #757575;
    --readingList-background: #fafafa;
}
