*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:rgb(244 243 241);
}
nav{
    display: block;
}
.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 80px;
    align-items: center;
    border-right:solid rgba(230, 230, 230, 1) 0.5px;
    
}
.icons{
    height: auto;
    width: 30px;
    padding-top: 30px;
}
#iconito {
    padding-bottom: 30px;
    border-bottom:solid 0.5px rgba(230, 230, 230, 1);
}
.icon-user{
    height: auto;
    width: 40px;
    border-radius: 80px;
    margin-bottom: 30px;
}
.logo-container{
    padding-top: 40px;
}

