.navbar a{
    text-decoration: none;
    color: black;
}
body{
    margin:0;
}
.container{
    max-width: 1150px;
    margin: 0 auto;
}
.container-head{
    margin: 0 auto;
}
.header-hero{
    background-color: #F1AE03;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2% 0 1% 0;
    font-size: 15px;
    background-color: #F1AE03;
    position: fixed;
}
.header nav{
    margin: 0;
}
.navbar ul{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}
.navbar li{
    list-style: none;
    padding: 0 10px 0px 10px;
    text-align: center;
}
.get{
    color: white;
    background-color:#000;
    border-radius: 100vh;
    padding: 10px 15px 10px 15px;
    border: 1px solid #000;
}
.navbar{
    margin: 3%;
    display: flex;
}
.icon-mediu{
    width: 30px;
    height:30px;
}
.medium{
    font-size: 25px;
    display: inline-block;
    padding-left: 60px;
    align-items: center;
}
.hero-box{
    background-color: #F1AE03;
}

/* heroarea */
.hero-sent{
    font-size: 60px;
    padding: 8% 50% 0 0;
}
.hero-sent2{
    padding: 0 60% 0 0;
    
}
.start{
    color: black;
    background-color: white;
    border-radius: 100vh;
    padding: 1% 2% 1% 2%;
    border: 1px solid;
    margin: 3% 0 3% 0;
}

/* trend */
.trending-on{
    border-bottom: 1px solid rgba(230, 230, 230, 1);
}
.icon-box{
    display: flex;
    padding: 30px 0 20px 0px;
}
.icon-trend{
    content: url('https://api.iconify.design/ph/trend-up-duotone.svg?color=black&height=20');
}
.trend{
    font-size: 13px;
    padding: 0 0 0 10px
}
/* .trend-box1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px 0 50px 0;
}
.trend-box2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px 0 50px 0;
} */
.trend-box1{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
}
.no1{
    display: flex;
    width: 33%;
    padding-bottom: 30px;
}
.no1 ul{
    margin: 0;
}
.no1 li{
    list-style: none;
}
.auther{
    font-size: 15px;
}
.title{
    font-size: 20px;
}
.date{
    font-size: 13px;
    color: gray;
}
/* article */
.container-1{
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.article-box{
    padding: 40px;
    width: 55%;
}
.article{
    display: flex;
    justify-content: space-between;
}
.auther1{
    font-size: 15px;
}
.title1{
    font-size: 30px;
}
.description{
    font-size: 20px;
    color: gray;
}
.article-pic{
    width: 200px;
    height: 160px;
}
/* option */
.option-box{
    width: 35%;
    padding: 40px;
}
.option{
    background-color: white;
    border: 1px solid rgba(230, 230, 230, 1);
    font-size: 15px;
    padding: 10px;
    color: rgb(116, 114, 114);
    margin: 5px;
}
.border{
    border-bottom: 1px solid rgba(230, 230, 230, 1);
    padding: 10px 0 10px 0;
}
.button-box{
    display: flex;
    flex-wrap: wrap;
}
.others{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    padding: 5px 10px 5px 10px;
    color: rgb(116, 114, 114);
}